lower_wikiCorpus.txt
wikiCorpus.txt
*.pyc*
nlp_project/.env
.env
nlp_project/docs/manual_corrections
tandas
*tanda1*
nlp_project/async_requests/node_modules
.vscode/
.idea/
commands.py
npm-debug.log
nlp_project/docs/outputs
nlp_project/docs/results
nlp_project/multi_process
nlp_project/scripts/configs
nlp_project/scripts/configs_back
nlp_project/scripts/good_less_configs
nlp_project/LUISA
